<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="views">
    <script src="/js/main/index.js"></script>
    <section class="page-section" id="portfolio">
    <div class="container">
        <button type="button" class="btn btn-dark drawCard" id="STRAIGHT_FLUSH">스티플 뽑기</button>
        <button type="button" class="btn btn-dark drawCard" id="FOUR_OF_A_KIND">포카드 뽑기</button>
        <button type="button" class="btn btn-dark drawCard" id="FULL_HOUSE">풀하우스 뽑기</button>
    </div>
    </section>
</th:block>
</html>